.wrapper {
  padding: 40px 30px 80px 30px;
}

.movie_poster img {
  width: 300px;
}

@media screen and (min-width: 648px) {
  .wrapper {
    display: flex;
    justify-content: space-between;
  }

  .movie_des {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40px;
  }
}

@media screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
    margin: 0 auto;
  }

  .movie_des {
  }
}
